.cont-profile {
  display: flex;
  padding: 16px;
  background-color: #f5f6f3;
}

.information {
  margin-left: 54px;
  justify-content: space-between;
  width: 100vw;
  padding-right: 24px;
}

.sidebar {
  margin: 8px 24px;
  border: 0.5px solid #2a2a2a;
  padding: 48px;
  align-items: flex-start;
  h3 {
    border: 3px solid #2a2a2a;
    padding: 8px;
    text-align: left;
    margin-left: 8px;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  .first_name, .last_name {
    width: 40%;
  }
}

p {
  border: thin solid #2a2a2a;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}
