.modal-content {
  background-color: #D9D9D9;
  border-radius: 6px;
  z-index: 2;
}

.modal-backdrop {
  z-index: 0;
}

// .modal {
//   opacity: 0.33;
// }

.fa-circle-xmark {
  color: #881212;
}

.modal-body {
  display: flex;
  justify-content: flex-start;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

h2 {
  color: black;
}

.article-description {
  margin: 24px;
  width: -webkit-fill-available;
  .btn {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.7;
    border-radius: 8px;
  }
}
