.navbar-lewagon {
  justify-content: space-between;
  background: #353b3c;
  // position: sticky;
  // top: 0;
}

.category {
  // position: sticky;
  // top: 53px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.hello_message {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}
